@use "../Styles/mixin.scss" as mix;

.form-section {
  @include mix.flex-center-column;
  background-color: rgb(252, 247, 238);
  //   width: 100%;
  padding: 4rem 2rem;

  min-width: 640px;
  .form-page {
    // @include mix.flex-center-column;
    padding: 2rem;
    h3 {
      color: rgb(20 83 45);
      font-size: 1.25rem;
      line-height: 1.75rem;
      text-align: center;
      margin-bottom: 1.5rem;
    }
  }
}

.form-field {
  @include mix.flex-center-column;
  gap: 1rem;
  max-width: 36rem;

  .admission-form {
    display: flex;
    flex-direction: column;
    justify-content: center;

    label {
      font-size: 0.875rem;
      line-height: 1.25rem;
      // font-weight: 500;
      color: rgb(55 65 81);
    }

    input {
      padding: 0.75rem 1rem;
      font-size: 0.875rem;
      line-height: 1.25rem;
      width: 36rem;
      border-radius: 9999px;
      border: none;
      margin-top: 0.5rem;
      &::placeholder {
        color: gray;
      }
    }
  }
}

.btn {
  button {
    background-color: #000;
    color: #fff;
    padding: 0.75rem 0.75rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    width: 36rem;
    border-radius: 9999px;
    border: none;
    margin-top: 0.5rem;
    cursor: pointer;
  }
}

.error {
  color: rgb(239 68 68);
  margin-top: 0.25rem;
  font-size: 0.75rem;
  line-height: 1rem;
}


