.company-info {
  background-color: bisque  ;
  padding: 10rem;
  color: #000;

}
.home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  color: #000;


  h2{
    font-size: 1rem;
    color: #000;
  }
}




